.box1 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.box2 {
  width: 200px;
  padding: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.box3 {
  width: 200px;
  padding: 20px;
  border: 1px solid;
  gap: 10px;
}
.btn-group {
  display: flex;
  gap: 10px;
}
